.property-panel {
  width: 280px;
  padding-top: 16px;
  background: #fff;
  .property-tabs {
    padding: 0 16px;
  }
  :global {
    .ant-tabs-nav-wrap {
      background-color: #e3e6eb;
      border-radius: 5px;
    }
    .ant-tabs-nav-list {
      width: 100%;
      padding: 4px;
    }
    .ant-tabs-tab {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 26px;
      padding: 0 !important;
      background: none !important;
      border: none !important;
    }
    .ant-tabs-tab-active {
      font-weight: 700;
      background: #fff !important;
      border-radius: 2px !important;
      .ant-tabs-tab-btn {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
